*{
    box-sizing: border-box;
    font-family: Helvetica;
}

h1{
    font-size: 175%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

section {
    border: 1px solid #000000;   
    background-color: #999999;
    height: 300px;
    overflow: auto;
}

h2{
    float: right;
    font-size: 125%;
    padding: 5px 20px 5px 20px;
    border: 1px solid #000000;
    margin-top: 0;
    margin-bottom: 20px;
}

p{
    margin-top: 50px;
    margin-left: 20px;
    padding: 10px;
    width: 90%;
    text-align: justify;
}

#chicken{
    background-color: #d59898;
}

#beef{
    background-color: #c14543;
}

#sushi{
    background-color: #e5d198;
}

@media (min-width: 992px) {
    .chickendiv, .beefdiv, .sushidiv {
      float: left;
      padding: 15px;
      width: 33.33%;
    }
  }
  
  /********** Tablet version **********/
@media (min-width: 768px) and (max-width: 991px) {
    .chickendiv, .beefdiv{
      float: left;
      padding: 15px;
      width: 50%;
    }
    .sushidiv{
      float: left;
      padding: 15px;
      width: 100%;
    }
}

  /********** Mobile version **********/
@media (max-width: 767px) {
    .chickendiv, .beefdiv, .sushidiv {
      float: left;
      padding: 15px;
      width: 100%;
    }
  }